#header {
    height: 6em;
    text-align: center;
    background-color: #222222;
}

#header a {
    color: white;
    font-size: 4em;
}

#footer {
    height: 3em;
    text-align: center;
}

#footer p {
    line-height: 0.5em;
}

#footer a {
}

#content {

}

ul.main.posts {
    list-style: none;
}

ul.main.tags {
    list-style: none;
}

li.post-item {
    background-color: #f5f5f5;
    margin-top: 1em;
}

li.post-item .title {
    color: #333333;
    font-size: 1.5em;
    text-align: center;
}

li.post-item .title a {
    color: #333333;
}

li.post-item .title a:hover {
    text-shadow: 0.4px 0.4px;
}

li.post-item .tags {
    padding-left: 0px;
    margin-top:0.5em;
    margin-bottom:1em;
}

li.post-item .tag {
    background-color: #317ef3;
    color: white;
    padding: 0.2em 0.5em;
}

li.post-item time {
    float: right;
}

li.post-item .more a {
    float: right;
}