<!-- 内容 -->
<div class="col-md-8 col-md-offset-1">

    <div class="row">
        <h4>2015年</h4>
        <!-- 博客列表 -->
        <div class="col-md-4 archive-item">
            <div class="panel panel-default">
                <div class="panel-body">
                    Oct 28
                    <p>离散型概率分布</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 archive-item">
            <div class="panel panel-default">
                <div class="panel-body">
                    Oct 28
                    <p>离散型概率分布</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 archive-item">
            <div class="panel panel-default">
                <div class="panel-body">
                    Oct 28
                    <p>离散型概率分布</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 archive-item">
            <div class="panel panel-default">
                <div class="panel-body">
                    Oct 28
                    <p>离散型概率分布</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 archive-item">
            <div class="panel panel-default">
                <div class="panel-body">
                    Oct 28
                    <p>离散型概率分布</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <h4>2014年</h4>
        <!-- 博客列表 -->
        <div class="col-md-4 archive-item">
            <div class="panel panel-default">
                <div class="panel-body">
                    Oct 28
                    <p>离散型概率分布</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 archive-item">
            <div class="panel panel-default">
                <div class="panel-body">
                    Oct 28
                    <p>离散型概率分布</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 archive-item">
            <div class="panel panel-default">
                <div class="panel-body">
                    Oct 28
                    <p>离散型概率分布</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 archive-item">
            <div class="panel panel-default">
                <div class="panel-body">
                    Oct 28
                    <p>离散型概率分布</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 archive-item">
            <div class="panel panel-default">
                <div class="panel-body">
                    Oct 28
                    <p>离散型概率分布</p>
                </div>
            </div>
        </div>
    </div>

</div>
