<div class="col-md-8 col-md-offset-1">
    <%
        function sortByDate(a, b) {
            var s1 = a.date.format('YYYYMMDD');
            var s2 = b.date.format('YYYYMMDD');
            return s1 - s2;
        }

        var yearList = [];
        for (y in yearMap) {
            yearList.push(y);
            var list = yearMap[y];
            list.sort(sortByDate);
            list.reverse();
        }

        yearList.sort();
        yearList.reverse();
    %>
    <% yearList.forEach(function(year) { %>
        <div class="row">
            <h4 class="col-md-12"> <%= year %> </h4>
            <% var list = yearMap[year]; %>
            <% list.forEach(function(post) { %>
                <div class="col-md-4 archive-item">
                    <div class="panel panel-default">
                        <a href="<%- url_for(post.path)  %>">
                            <div class="panel-body">
                                <%= post.date.format('MMM DD') %>
                                <p> <%= post.title %> </p>
                            </div>
                        </a>
                    </div>
                </div>
            <% }); %>
        </div>
    <% }); %>

</div>
