<!-- 右边栏 -->
<div class="col-md-2">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">标签</h3>
        </div>

        <div class="panel-body">
            <%
            var mytags = [];
            site.tags.forEach(function(tag) {
                mytags.push([tag.name, tag.path]);
            });
            mytags.sort();
            %>
            <% mytags.forEach(function(tag) { %>
                <a href="<%- url_for(tag[1]) %>"> <%= tag[0] %> </a>
            <% }); %>
        </div>
    </div>

    <!-- 创建 archive list -->
    <%
    var monthMap = {};
    site.posts.forEach(function(post) {
        monthMap[post.date.format('YYYY MM MMM')] = 1;
    })
    var months = [];
    for (m in monthMap) {
        // console.log(d);
        var parts = m.split(' ');
        var year = parts[0];
        var month = parts[1];
        var sMonth = parts[2];
        months.push([year + month, year, month, sMonth, '/archives/' + year + '/' + month]);
    }
    months.sort();
    months.reverse();
    %>

    <!-- 归档 -->
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">归档</h3>
        </div>
        <div class="panel-body archive-list">
            <% months.forEach(function(m) { %>
                <a href="<%- url_for(m[4]) %>"> <%= m[1] + ' ' + m[3] %> </a>
            <% }) %>
        </div>
    </div>

    <!-- <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">最新文章</h3>
        </div>
        <div class="panel-body">
            <div>离散型概率分布</div>
            <div>概率论基础公式</div>
            <div>在Nginx上配置PHP</div>
        </div>
    </div> -->
</div>
