<head>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ site.url }}/foundation/css/foundation.css" />
    <!--script src="{{ site.url }}/foundation/js/vendor/modernizr.js"></script-->
    <link rel="stylesheet" type="text/css" media="screen" href="{{ site.url }}/css/reset.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ site.url }}/css/style.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ site.url }}/css/syntax.css">
    <title>{{ page.title }}</title>
</head>
