<head>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--link rel="stylesheet" href="{{ site.url }}/stylesheets/highlight.js/googlecode.css">
        <script src="{{ site.url }}/javascripts/highlight.pack.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
        <link rel="stylesheet" type="text/css" media="screen" href="{{ site.url }}/stylesheets/stylesheet.css"-->
    <link rel="stylesheet" href="{{ site.url }}/foundation/css/foundation.css" />
    <script src="{{ site.url }}/foundation/js/vendor/modernizr.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ site.url }}/stylesheets/syntax.css">
    <title>{{ page.title }}</title>
</head>
